body{
   font-family: 'Montserrat', sans-serif;
   background-color: aliceblue;
}
#container {
    position: relative;
}
#ball {
    width: 20px;
    height: 20px;
    background-color: red;
    position: fixed;
    top: 20px;
    left: 52.5%;
    border-radius: 50%;
}
#rod1, #rod2 {
    width: 200px;
    height: 20px;
    position: fixed;
    left: 50%;
    border-radius: 25px;
    text-align: center;
    color: white;
    /* background-color: teal; */
    font-weight: bold;
}
#rod1 {
    background-color: rgba(17, 124, 247, 0.836);
    top: 0px;    
}

#rod2 {
    background-color: rgb(162, 235, 28);
    bottom: 0px;
}